.gpbh-business-hours {
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}

.gpbh-business-hours h3 {
    margin-top: 0;
}

.gpbh-hours-table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

.gpbh-hours-table td {
    padding: 8px;
    text-align: left;
}

.gpbh-special-hours {
    margin-top: 10px;
}